<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lansent.cannan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application>
        <activity
            android:name="com.lansent.cannan.watcher.WatcherActivity"
            android:theme="@style/AppTheme"
            android:icon="@drawable/cannan"
            android:label="抓包"
            android:launchMode="singleInstance"
            android:process=":watcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".watcher.ResponseDetailActivity"
                  android:theme="@style/AppTheme"
                  android:icon="@drawable/cannan"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance"
                  android:process=":watcher"
            />
    </application>

</manifest>